$colors: (
    bg: #f7f7f7,
    primary-light: #75b7ff,
    primary-dark: #6aa5ff,
    secondary-light: #ffe866,
    secondary-dark: #ffd84a,

    header-text: rgba(255,255,255,.7),
    header-text-hover: white,

    footer: #4a4a4a,
    footer-text: rgba(255,255,255,.5),
    footer-text-hover: white,

    success: rgba(67,181,129,1),
    error: rgba(240,71,71,1),
);
