$space: (
    xs: 5px,
    sm: 10px,
    md: 15px,
    lg: 20px,
    xl: 30px,
    none: 0px,
);

@mixin paddingSet($size) {
    .p-#{$size} {
        padding: map-get($space, $size);
    }
    .p-t-#{$size} {
        padding-top: map-get($space, $size);
    }
    .p-r-#{$size} {
        padding-right: map-get($space, $size);
    }
    .p-b-#{$size} {
        padding-bottom: map-get($space, $size);
    }
    .p-l-#{$size} {
        padding-left: map-get($space, $size);
    }
}

@include paddingSet(xs);
@include paddingSet(sm);
@include paddingSet(md);
@include paddingSet(lg);
@include paddingSet(xl);
@include paddingSet(none);
