<div class="pagination">
    <ul>
        <li>
            <button type="button" (click)="pagination.setPage(pagination.page - 1)" [disabled]="pagination.page - 1 === 0">
                <i class="fas fa-caret-left"></i>
            </button>
        </li>
        <li *ngFor="let p of pagination.pagesArray()">
            <button type="button" (click)="pagination.setPage(p)" [ngClass]="{ 'active': pagination.page == p }">
                {{p}}
            </button>
        </li>
        <li>
            <button type="button" (click)="pagination.setPage(pagination.page + 1)" [disabled]="pagination.page + 1 > pagination.totalPages()">
                <i class="fas fa-caret-right"></i>
            </button>
        </li>
    </ul>
</div>
