<div class="pagination" *ngIf="show()">
    <ul>
        <li>
            <button type="button" (click)="pagination.setPage(pagination.page - 1)" [disabled]="prevDisabled()">
                <i [ngClass]="prevClass()"></i>
            </button>
        </li>
        <li *ngFor="let p of pagination.pagesArray()">
            <button type="button" role="link" (click)="pagination.setPage(p)" [ngClass]="{ 'active': pagination.page == p }">
                {{p}}
            </button>
        </li>
        <li>
            <button type="button" role="link" (click)="pagination.setPage(pagination.page + 1)" [disabled]="nextDisabled()">
                <i [ngClass]="nextClass()"></i>
            </button>
        </li>
    </ul>
</div>
