<div *ngIf="!isAuthenticated()">
    <a class="m-r-md" routerLink="/login" [routerLinkActive]="['active']">Login</a>
    <a routerLink="/signup" [routerLinkActive]="['active']">Signup</a>
</div>
<div *ngIf="isAuthenticated()">
    <button class="btn-user-nav" mat-button [matMenuTriggerFor]="userMenu" [ngClass]="{ 'open': isMenuOpen() }">{{getUsername()}}</button>
    <mat-menu class="user-menu" #userMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
        <a mat-menu-item routerLink="/profiles/{{getUsername()}}" [routerLinkActive]="['active']">Profile</a>
        <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
</div>
