<div class="p-t-xl p-b-xl" fxLayout="row" fxFlex>
    <form class="signup-form" (ngSubmit)="onSignup()" [formGroup]="signupForm" fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="text" name="username" placeholder="Username" formControlName="username" autofocus>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="text" name="email" placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="password" name="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="password" name="cpassword" placeholder="Confirm Password" formControlName="cpassword">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <button type="submit" mat-button color="primary" fxFlex>Signup</button>
        </div>
    </form>
</div>
