<div class="p-t-xl p-b-xl" fxLayout="row" fxFlex>
    <form class="login-form" (ngSubmit)="onLogin()" [formGroup]="loginForm" fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="text" name="username" placeholder="Username" formControlName="username" autofocus>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <mat-form-field fxFlex>
                <input matInput type="password" name="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex>
            <button type="submit" mat-button color="primary" fxFlex>Login</button>
        </div>
    </form>
</div>
