@import "~sass/modules/animations";
@import "~sass/modules/colors";
@import "~sass/modules/transitions";

.btn-user-nav {
    height: 64px;
    padding: 0 40px 0 20px;
    font-size: 20px;
    transition: map-get($transitions, fast) color, map-get($transitions, fast) background-color;

    &::after {
        font-family: 'FontAwesome';
        font-size: 14px;
        content: '\f0d7';
        position: absolute;
        top: 0px;
        right: 20px;
        width: 10px;
        color: white;
        line-height: 64px;
        transform: rotate(0deg);
        transition: transform .2s ease;
    }

    &:focus,
    &:hover {
        color: white;
    }

    &.open {
        color: white;
        background-color: darken(map-get($colors, primary-dark), 10%);

        &::after {
            transform: rotate(180deg);
        }
    }
}
