<div class="app-footer container-max-1200" fxLayout="row" fxFlex>
    <div fxLayout="column" fxFlex>
        <h4 class="footer-col-title m-b-md">Footer Section</h4>
        <ul>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
        </ul>
    </div>
    <div fxLayout="column" fxFlex>
        <h4 class="footer-col-title m-b-md">Footer Section</h4>
        <ul>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
        </ul>
    </div>
    <div fxLayout="column" fxFlex>
        <h4 class="footer-col-title m-b-md">Footer Section</h4>
        <ul>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
            <li>
                <a href="#">Footer Link</a>
            </li>
        </ul>
    </div>
</div>
